<h1>オーダー情報を変更</h1>

<%= form_for(@order, :url=>{:action => 'update'}, :html=>{:method =>:put}) do %>
<ul style="list-style:none;">
	<li>
		状況 <%= select :order, :status, {"決定"=>0, "角度高め"=>1, "提案中"=>2} %>
	</li>
	
	<% if @order.type == 0 %>	
		<li>
			媒体名
			<%= select :order, :media_mag, Medium.where(:type=>0).map{|m| [m.name, m.symbol]} %>
		</li>
		<li>
			発売日
			<%= date_field("order", "release_date")%>
		</li>
		<li>
			掲載誌送付先 <%= text_field "order", :sample %>
		</li>
	<% elsif @order.type == 1 %>
		<li>
			媒体名
			<%= select :order, :media_web, Medium.where(:type=>1).map{|m| [m.name, m.symbol]} %>
		</li>
		<li>
			掲載期間:
			<%= date_field("order", "start_date")%> - <%= date_field("order", "end_date")%>
		</li>
	<% end %>
	
	<li>
		広告主  <%= text_field "order", :client %>
	</li>
	<li>
		広告会社 <%= text_field "order", :agent %>
	</li>
	<li>
		スペース <%= text_field "order", :space %>
	</li>
	<li>
		料金 <%= text_field "order", :price %>万円
	</li>
	<li>
		マージン<%= select :order, :rate, {"15%"=>15, "20%"=>20} %>
	</li>
	<li>
		レート <%= select :order, :rate, {"1回"=>1, "3回"=>3} %>
	</li>
	<li>
		請求先 <%= text_field "order", :account %>
	</li>
	<li>
		制作会社 <%= text_field "order", :production %>
	</li>
	<li>
		備考 <%= text_field "order", :notes %>
	</li>
	<li>
		担当者 <%= text_field "order", :person_in_charge %>
	</li>	
	<% if current_user.role == 0 %>
	<% elsif current_user.role == 1 %>
	<% elsif current_user.role == 2 %>
	<li>
		管理番号 <%= text_field "order", :management_number %>
	</li>
	<% end %>
	<li>
		オーダー情報をメールで送信する <%= check_box "mail", "send" %>
	</li>
</ul>
<%= submit_tag '再登録する', :user_id => current_user.id %>
<% end %>
