<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>さんのオーダー一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<th>案件名</th>
		<th>媒体</th>
		<th>広告主</th>
	</tr>

	<% @cases.each do |c| %>
	<tr>
		<th><%= c.name %></th>
		<th><%= c.orders.first.media %></th>
		<th><%= c.agent %></th>
	<tr>
	<% end %>
  </tbody>

</table>

<br>
