<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>さんのオーダー一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<th>　</th>
		<th>案件名</th>
		<th>掲載媒体</th>
		<th>広告主</th>
		<th>広告会社</th>
	</tr>

	<% @cases.each do |c| %>
		<% orders = Order.where(case_id: c.id) %>
			<% orders.each do |o| %>
			<tr>
			<td><%= link_to '詳細', o %></td>
			<th><%= c.name %></th>
			<th><%= o.media %></th>
			<th><%= c.client %></th>
			<th><%= c.agent %></th>
			<tr>
		<% end %>
	<% end %>
  </tbody>

</table>

<br>
