<script type="text/javascript">
$(function(){
$('#order_type').change(function() {
	if ($('#order_type option:selected').val() == 0) 
		$('#div_mag').css('display','table-row') && $('#div_web').css('display','none');
	else if ($('#order_type option:selected').val() == 1) 
		$('#div_web').css('display','table-row') && $('#div_mag').css('display','none');
	 });
});
</script>

<h1>新規オーダー情報</h1>

<%= form_tag :action => :create do %>
<ul style="list-style:none;">
	<li>
		<%= select :order, :type, {"雑誌"=>0, "Web"=>1} %>
	</li>
	<li>
		状況 <%= select :order, :status, {"決定"=>0, "角度高め"=>1, "提案中"=>2} %>
	</li>
		
	<div id="div_web" style="display: none;">
		<li>
			媒体名<!--%= collection_select("order", "media", Medium.where(:type=>num), :symbol, :name) %-->
			<%= select :order, :media_web, Medium.where(:type=>1).map{|m| [m.name, m.symbol]} %>
		</li>
		<li>
			掲載期間
			<%= date_field("order", "start_date")%> - <%= date_field("order", "end_date")%>
		</li>
	</div>
	
	<div id ="div_mag">
		<li>
			媒体名<!--%= collection_select("order", "media", Medium.where(:type=>num), :symbol, :name) %-->
			<%= select :order, :media_mag, Medium.where(:type=>0).map{|m| [m.name, m.symbol]} %>
		</li>
		<li>
			発売日
			<%= date_field("order", "start_date")%>
		</li>
		<li>
			掲載誌送付先 <%= text_field "order", :sample %>
		</li>
	</div>
		
	<li>
		広告主  <%= text_field "order", :client %>
	</li>
	<li>
		広告会社 <%= text_field "order", :agent %>
	</li>
	<li>
		スペース <%= text_field "order", :space %>
	</li>
	<li>
		料金 <%= text_field "order", :price %>万円
	</li>
	<li>
		マージン <%= text_field "order", :margin %>%
	</li>
	<li>
		レート <%= select :order, :rate, {"1回"=>1, "3回"=>3} %>
	</li>
	<li>
		請求先 <%= text_field "order", :account %>
	</li>
	<li>
		制作会社 <%= text_field "order", :production %>
	</li>
	<li>
		備考 <%= text_field "order", :notes %>
	</li>
	<li>
		担当者 <%= text_field "order", :person_in_charge %>
	</li>	
	<li>
		オーダー情報をメールで送信する <%= check_box "mail", "send" %>
	</li>
</ul>
<%= submit_tag '申し込む', :user_id => current_user.id %>
<% end %>
