<script type="text/javascript">
$(function(){
$('#order_category').change(function() {
	if ($('#order_category option:selected').val() == 0) 
		$('#div_mag').css('display','table-row') && $('#div_web').css('display','none') && $('#div_mail').css('display','none');
	else if ($('#order_category option:selected').val() == 1) 
		$('#div_web').css('display','table-row') && $('#div_mag').css('display','none')&& $('#div_mail').css('display','none');
	else if ($('#order_category option:selected').val() == 2) 
		$('#div_mail').css('display','table-row') && $('#div_mag').css('display','none')&& $('#div_web').css('display','none');
	 });
});
</script>
<h1>新規オーダー情報</h1>

<%= form_tag :action => :create do %>
<ul style="list-style:none;">
	<li>
		<%= select :order, :category, {"雑誌"=>0, "Web"=>1, "メール"=>2} %>
	</li>
	<li>
		案件名 <%= text_field "case", :name %>
	</li>
	<li>
		状況 <%= select :case, :status, {"決定"=>0, "角度高め"=>1, "提案中"=>2} %>
	</li>

	<div id ="div_mag">
		<li>
			媒体名
			<%= select :order, :media_mag, Medium.where(:category=>0).map{|m| [m.name, m.shorten]} %>
		</li>
	</div>

	<div id="div_web" style="display: none;">
		<li>
			媒体名
			<%= select :order, :media_web, Medium.where(:category=>1).map{|m| [m.name, m.shorten]} %>
		</li>
	</div>

	<div id="div_mail" style="display: none;">
		<li>
			媒体名
			<%= select :order, :media_web, Medium.where(:category=>2).map{|m| [m.name, m.shorten]} %>
		</li>
	</div>
	
	<li>
		広告主  <%= text_field "case", :client %>
	</li>
	<li>
		広告会社 <%= text_field "case", :agent %>
	</li>
	<li>
		料金 <%= text_field "order", :price %>万円
	</li>
	<li>
		マージン<%= select :order, :margin, {"15%"=>15, "20%"=>20} %>
	</li>
	<li>
		レート <%= select :order, :rate, {"1回"=>1, "3回"=>3} %>
	</li>
	<li>
		請求先 <%= text_field "order", :address_of_bill %>
	</li>
	<li>
		備考 <%= text_field "order", :notes %>
	</li>
	<li>
		オーダー情報をメールで送信する <%= check_box "mail", "send" %>
	</li>
</ul>
<%= submit_tag '申し込む', :user_id => current_user.id %>
<% end %>
