<p id="notice"><%= notice %></p>

<h1>オーダー情報</h1>

<%= @order.created_at.strftime("%Y年%m月%d日") %>に登録された
<% if @order.category == Order::MAGAZINE_SCHEME %>
	<%= "雑誌広告" %>
<% elsif @order.category == Order::WEB_SCHEME %>
	<%= "インターネット広告" %>
<% end %>
のオーダーです。

<ul style="list-style:none;">
	<li>状況:<%= @case.status %><li>
	<li>媒体:<%= Medium.find_by_shorten(@order.media).name %></li>
	
	<% if @order.category == Order::MAGAZINE_SCHEME %>
		<li>発売日:<%= @mag.release_date %></li>
		<li>スペース:<%= @mag.space %></li>
		<% if @mag.ad_form == 0 %>
			<li>純広告</li>
		<% else %>
			<li>タイアップ</li>
		<% end %>
		<li>制作会社:<%= @mag.production %></li>
		<li>制作費:<%= @mag.production_costs %></li>
	<% elsif @order.category == Order::WEB_SCHEME %>
	<% end %>
	
	<li>金額:<%= @order.price %>万円</li>
	<li>広告主:<%= @case.client %></li>
	<li>広告会社:<%= @case.agent %></li>
	<li>マージン:<%= @order.margin %></li>
	<li>スペース:<%= @mag.space %></li>
	<li>備考:<%= @order.notes %></li>
</ul>

<%= link_to '編集', edit_order_path(@order) %> |
<%= link_to '削除', @order, method: :delete, data: { confirm: '本当に削除しますか？' } %> |
<%= link_to '戻る', orders_path %>
