<p id="notice"><%= notice %></p>

<h1>オーダー情報</h1>
この情報は<%= @order.created_at %>に登録されたオーダーです。
<li>状況:<%= @order.status %><li>
<li>媒体:<%= @order.media %></li>
<li>発売日:<%= @order.release_date %></li>
<li>金額:<%= @order.price %>万円</li>
<li>広告主:<%= @order.client %></li>
<li>広告会社:<%= @order.agent %></li>
<li>スペース:<%= @order.space %></li>
<li>レート:<%= @order.rate %></li>
<li>請求先:<%= @order.account %></li>
<li>請求書送付先:<%= @order.sample %></li>
<%= link_to '編集', edit_order_path(@order) %> |
<%= link_to '削除', @order, method: :destroy, data: { confirm: '本当に削除しますか？' } %> |
<%= link_to '戻る', orders_path %>
