<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "お名前" %><br />
    <%= f.text_field :name, autofocus: true %>
	</div>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

	<div class="field">
		<%= f.label "役割／権限" %>
		<br />
		<%= f.select :role,  [["営業",0],["媒体マネージャー",1], ["業務",2]] %>
	<div>

  <div class="field">
    <%= f.label "新しいパスワード" %> <i>(変更する必要がなければ、空欄のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "新しいパスワード（確認）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "現在のパスワード" %> 
		<i>(保存のため、現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
